$maincolor: #59BDBD;
$maincolorlight: #7ACACA;
$btngray: #cdcfd0;
$graytext: #9e9e9e;
$mainfont: 'Open Sans','Roboto', 'Helvetica', 'Arial', sans-serif;

// GENERIC STYLES

body {
  font-family: $mainfont;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.center {
  margin: 0 auto;
}

// BUTTON STYLES

.welcome-btn-container {
  width: 420px;
  position: relative;
}

.btn-primary {
  background-color: $maincolor;
  font-size: 16pt;
  letter-spacing: 2px;
  border: none;
}

.btn-default {
  border: none;
}

.btn, .btn:active, .btn:visited {
  margin: 0 15px;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  background-color: $maincolor;
  &:hover {
    background-color: $maincolorlight;
  }
}


// ASSET STYLES

.heading {
  margin-top: 150px;
  margin-bottom: 50px;
}

.welcome {
  background-image: url('images/coffee.png');
  background-size: cover;
  width: 100%;
  height: 800px;
}

img.arrow {
  width: 60%;
  margin-top: 25%;
}

// TEXT STYLES


h2 { /*title of entry*/
  font-family: $mainfont;
  font-size: 60px;
  text-align: center;
  letter-spacing: 2px;  
  padding: 20px 0px 30px 0px;
  // margin-top: 60px;
  font-weight: 100;
}

h4 {/* html, css headings*/
  text-align: center;
}

a {
  color: $maincolor;
  &:hover {
    background: none;
    border: none;
    text-decoration: none;
    color: $maincolorlight;
  }
}

.form-wrapper {
  padding: 20px;
}

// NAV STYLES

a.brand {
  font-size: 1.5em;
}


.nav-main>li>a {
  border-top: solid 3px rgba(0,0,0,0);
  color: black;
  font-family: $mainfont;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 20px;
  &:hover {
    background: none;
    border-color:black;
  }
}

// override bootstrap colors
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav .open > a:active {
  background-color: inherit;
  border-color: black;
}

.nav li button a {
  border: none;
  text-decoration: none;
}

ul.dropdown-menu {
  background-color: rgba(255,255,255, 0.98);
}

.btn.tab {
  border: solid 1px white;
  &:active {
    background-color: $maincolor;
  }
}

.navbar-right {
  border: none;
}

.alert {
  margin-bottom: 0;
}

ul.hack-options{
 display: inline-block;
 width: 100%;
 border-bottom: 4px solid $maincolor;
}

ul.hack-options li {
  padding: 10px;
  font-size: 12pt;
}

.nav-tabs > li > a {
  border: none;
}

// SCAFFOLDING

.navbar, .navbar-default, .navbar-header {
  -webkit-box-shadow: 0px 7px 11px rgba(50, 50, 50, 0.37);
  -moz-box-shadow:    0px 7px 11px rgba(50, 50, 50, 0.37);
  box-shadow:         0px 7px 11px rgba(50, 50, 50, 0.37);
  border-radius: 0;
  background-color: rgba(255,255,255, 0.98);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.container {
  margin: 0 auto;
  min-height: 900px;
  padding: 50px 150px;
  /*background-color: rgba(255,255,255,0.5);*/
}

.col-md-6 {
  background-color: rgba(255,255,255,0.5);
  height: 400px;
  margin: 30px 0px;
}

.carousel-control {
  padding-top: 20%;
}

footer {
  background-color: $maincolor;
  height: 80px;
}

ul.footer, ul.footer a {
  color: white;
  & li {
    margin-left: 30px;
  }
}

// HACK CONTAINER

.style-container {
  padding: 50px;
  text-align: center;
  font-size: 16pt;
}

a.left.carousel-control:hover, a.right.carousel-control:hover {
  background-color: rgba(0,0,0,0);
}

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre .str, code .str { color: #F268C0; } /* string  - pink */
pre .kwd, code .kwd { color: #65B042; } /* keyword - green */
pre .com, code .com { color: #CFCFCF; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #489CE0; } /* literal - blue */
pre .pun, code .pun { color: #DBD072; } /* punctuation - theme yellow */
pre .pln, code .pln { color: #fff; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #67E0D0; } /* html/xml attribute name  - mint */
pre .atv, code .atv { color: #fff; } /* html/xml attribute value - pink */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
        background-color: #5a5a58;
        /*background-color: rgba(0,0,0,0.5);*/
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        -o-border-radius: 8px;
        -ms-border-radius: 8px;
        -khtml-border-radius: 8px;
        border-radius: 8px;
        height: 500px;
        overflow: scroll;
        font-size: 12pt;
}

pre.prettyprint {
        width: 95%;
        margin: 1em auto;
        padding: 1em;
        white-space: pre-wrap;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #F268C0; }
  pre .kwd, code .kwd { color: #65B042; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #fff; }
}


// OVERRIDE BOOTSTRAP //

// for Hack / Code tabs
.btn-default {
  color: white;
  background-color: $maincolorlight;
}

// for Hack / Code tabs
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: white;
  background-color: $maincolor;
}

a.btn:visited {
  color: white; 
}


.btn, .btn:active, .btn:visited {
  border-radius: 0; // override bootstrap
  border: none; // override bootstrap
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.3) 0), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.3) 100%));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.3) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  outline: none;
  opacity: 0.3;
  filter: alpha(opacity=30);
}