<footer>
  <ul class="navbar-nav navbar-left footer">
    <li>&copy; CSS Hacks, Inc. </li>
    <li><a href="#">Privacy </a></li>
    <li><a href="#">Terms </a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>Back to top</li>
  </ul>
</footer>