<div class="navbar">
  <h1> CSS HACKS</h1>
  
  <!-- Button trigger modal -->
  <button class="btn btn-primary btn-lg pull-right new-button" data-toggle="modal" data-target="#myModal">
    Create New
  </button>
</div>

<%= render 'form' %>

    